{% extends "base.html" %}
{% block title%}Graph{% endblock title%}

{% block content %}
  <div class="container">
    <nav aria-label="breadcrumb" >
      <ol class="breadcrumb" >
        <li class="breadcrumb-item"><a href="{% url 'home' %}">Home</a></li>
        <li class="breadcrumb-item"><a href="{% url 'guns' %}">Gun List</a></li>
        <li class="breadcrumb-item"><a href="{% url 'gun' gun.pk %}">{{gun.gun}}</a></li>
        <li class="breadcrumb-item active">Graph</li>
      </ol>
    </nav>
  </div>

<div class="container">
    {% for b in bullet %}
      <h1>{{b.bullet}} - {{b.powder}}</h1>                                 
    {% endfor%}
    <div>
        <canvas id="myChart"></canvas>
    </div>
</div>
{% endblock content%}

{% block scripts %}
<script>
 // <block:setup:1>
const labels = {{chargelist}}; //data passed from django views.py context
const data = {
  labels: labels,
  datasets: [
    {
      label: 'MOA',
      fill: false,
      backgroundColor: 'rgb(0, 0, 0, 1)',
      borderColor: '#54d602',
      data: {{moalist}},//data passed from django views.py context
      yAxisID: 'one'
    },
      {
        label: 'Velocity',
        fill: false,
        backgroundColor: 'rgb(211, 211, 211, 1)',
        borderColor: 'rgb(0, 0, 0)',
        data: {{velocitylist}},// data passed from django views.py context
        yAxisID: 'two'
        
    }
  ]
};
// </block:setup>

// <block:config:0>
const config = {
  type: 'line',
  data: data,
  options: {
    responsive: true,
    stacked: false,
    legend: {
      labels: {
          fontColor: "white",
      }
    },
    scales: {
      grid: [{              
        color: "white",
      }],

      xAxes: [{  
        gridLines: {
          color: 'white',
        },            
        ticks: {
          fontColor: "white",
        }
      }],

      yAxes: [
        {
            type: 'linear', // only linear but allow scale type registration. This allows extensions to exist solely for log scale for instance
            display: true,
            position: 'left',
            id: 'one',
            gridLines: {
              color: 'white',
            },
            ticks: {
              beginAtZero: true,
              fontColor: "white",
            }
        },
        {
            type: 'linear', // only linear but allow scale type registration. This allows extensions to exist solely for log scale for instance
            display: true,
            position: 'left',
            id: 'two',
            gridLines: {
              color: 'white',
              drawOnChartArea: false, // remove the y axis lines in the grid for this set
            },

            ticks: {
              fontColor: "white",
            }
        },
      ]
    }
  },
};
// </block:config>

var myChart = new Chart(
  document.getElementById('myChart'),
  config
);
</script>
{% endblock scripts %}


