{% extends "base.html" %}
{% block title%} Single Gun{% endblock title%}

{% comment %} 
  TO DO:
  -add c.o.l to bullet model
  -add 0 of land length to bullet model
  -add land length offset
  -add primer to bullet model
  
  -add ability to upload photos related to the data 
{% endcomment %}

{% block content %}
  <div class="container" >
    <nav aria-label="breadcrumb" >
      <ol class="breadcrumb" >
        <li class="breadcrumb-item"><a href="{% url 'home' %}">Home</a></li>
        <li class="breadcrumb-item"><a href="{% url 'guns' %}">Gun List</a></li>
        <li class="breadcrumb-item active">Gun</li>
      </ol>
    </nav>
  </div>

  <div class="container" id="bullet-tables"><br/>
      <h1>{{gun.gun}}</h1>
      <div>
        <a class="btn btn-secondary btn-sm" href="{% url 'add_bullet' gun.pk%}">add bullet</a>
      </div><br/>
  </div>
{% endblock %}

{% block scripts %}   
<script>

  //get a cookie for the required django csrf
  function getCookie(name) {
      let cookieValue = null;
      if (document.cookie && document.cookie !== '') {
          const cookies = document.cookie.split(';');
          for (let i = 0; i < cookies.length; i++) {
              const cookie = cookies[i].trim();
              // Does this cookie string begin with the name we want?
              if (cookie.substring(0, name.length + 1) === (name + '=')) {
                  cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                  break;
              }
          }
      }
      return cookieValue;
  }
  const csrftoken = getCookie('csrftoken');

  //get the bullets and related data for a specified gun and build the bullet tables 
  var dataURL = '/api/gun/{{gun.pk}}/' 
  $.ajax({
          method:'GET',
          url:dataURL,
          success:function(response){
            gun = response[0]
            console.log(gun)
            for (var bullet of gun.bullets){
              addTable(bullet)
            }
          }
  })

  //build a bullet table
  function addTable(bullet){
      var table =  `<div class="card" style="width: 55rem;">
                    <div class="card-body">
                      <div class="container-fluid">
                        <div class="row border border-secondary">
                        <div class="col-md ">
                          <h3 class="card-title">${bullet.bullet}</h3>
                        </div>
                        </div>
                        <div class="row border border-secondary">
                          <div class="col-md-3 border-right border-secondary">
                            <p>Powder: ${bullet.powder}</p>
                          </div>
                          <div class="col-md-6 border-right border-secondary">
                            <p>Primer: ${bullet.primer}</p>
                          </div>
                          <div class="col-md border-right border-secondary">
                            <p>O.A.C.L: ${bullet.coal}"</p>
                          </div>
                        </div>
                        <div class="row border border-secondary">
                          <div class="col-md-auto border-right border-secondary">
                            <p>Land Length: ${bullet.landTotal}"</p>
                          </div>
                          <div class="col-md-auto border-right border-secondary">
                            <p>Land Offset: ${bullet.landOffset}"</p>
                          </div>
                        </div>
                      </div><br/>
                      <div>
                        <a class="btn btn-secondary btn-sm" href="/gun/edit_bullet/${bullet.pk}/" >Edit Bullet</a>
                      </div><br/>
                      <button class="btn btn-sm btn-primary btn-block" onClick="addResult(${bullet.pk})">add data</button>
                      <table class="table table-bordered table-dark table-hover" >
                        <thead>
                          <tr class="d-flex">
                            <th class="col" scope="col">charge</th>
                            <th class="col" scope="col">MOA</th>
                            <th class="col" scope="col">1</th>
                            <th class="col" scope="col">2</th>
                            <th class="col" scope="col">3</th>
                            <th class="col" scope="col">SD</th>
                            <th class="col" scope="col">ES</th>
                            <th class="col-3" scope="col"></th>
                          </tr>
                        </thead>
                        <tbody id="bullet-table-${bullet.pk}">
                      
                        </tbody>
                      </table>
                      <a class="btn btn-sm btn-success"  href="/gun/graph/${bullet.pk}/">view graph</a> 
                    </div>
                     
                  </div><br/>
                  `
    

    $('#bullet-tables').append(table)
    for (var result of bullet.results){
      addRow(result, bullet.pk)
    }

    
  }


  function addRow(result, bullet_pk){
      //blank variables 
      var velocityrow = ``;
      var low = 10000;
      var high = 0;
      var sum = 0;
      for(var velocity of result.velocity){
        
        var velocitycol = `<td class="col" id="velocity-${velocity.pk}" contenteditable="true">${velocity.velocity}</td>`
        velocityrow += velocitycol
        
        //find lowest velocity
        if(velocity.velocity < low){
          low = velocity.velocity;
        } 

         if(velocity.velocity > high){
          high = velocity.velocity;
        } 

        //find the sum of all the velocities
        sum += velocity.velocity;
      }


      /*
      -calulate and add sd(standard deviation),
        find the mean 
        ((v1-mean)^2+(v2-mean)^2+(v3-mean)^2)/(n-1) = variance
        square root(variance)
      */
      mean = sum/result.velocity.length;
      var variance = 0;
      for(var velocity of result.velocity){
        temp = velocity.velocity - mean;
        variance += temp**2;
        
      }
      variance /= result.velocity.length - 1; 
      
      //find the square root of the variance then round it
      var sd = Math.round(Math.sqrt(variance));

      
      var es = high - low;
      //build html row with related data. table row layout: (charge | moa | velocity1| velocity2| velocity3| sd | es | buttons)
      var row = `
                  <tr class="d-flex" scope="row" id="result-row-${result.pk}">
                    <td class="col" id="charge-${result.pk}" contenteditable="true">${result.charge}</td>
                    <td class="col" id="moa-${result.pk}" contenteditable="true">${result.moa}</td>
                `
                  +
                  velocityrow
                  +
                `
                    <td class="col" id="moa-${result.pk}" contenteditable="false">${sd}</td>
                    <td class="col" id="moa-${result.pk}" contenteditable="false">${es}</td>
                    <td class="col-3">
                      
                        <button class="btn btn-sm btn-danger" data-resultid=${result.pk} id="delete-${result.pk}">Delete</button>
                        <button class="btn btn-sm btn-info"  data-resultid=${result.pk} id="save-${result.pk}">Save</button>
                        
                        <button class="btn btn-sm btn-danger hidden" data-resultid=${result.pk} id="cancel-${result.pk}">Cancel</button>
                        <button class="btn btn-sm btn-primary hidden" data-resultid=${result.pk} id="confirm-${result.pk}">Confirm</button>
                      
                    </td>
                  </tr>
                `
    

    $(`#bullet-table-${bullet_pk}`).append(row)

    $(`#delete-${result.pk}`).on('click', deleteResult)
    $(`#save-${result.pk}`).on('click', saveResult)
    $(`#cancel-${result.pk}`).on('click', cancelDeletion)
    $(`#confirm-${result.pk}`).on('click', confirmDeletion)  
  }

  //create a blank result and add it to the database
  function addResult(bullet_pk){ 
      url = `/api/data-create/${bullet_pk}/`
      fetch(url, {
				method:'POST',
				headers:{
					'Content-type':'application/json',
					'X-CSRFToken':csrftoken,
				},
			})
      .then(function(res){ return res.json(); })
      .then(function(data){ 
        addRow(data, bullet_pk) 
      })
      
  }

  //save the updated row when save button is pressed
  function saveResult(){ 
    //get the result id/pk
    var resultid = $(this ).data('resultid')
    //get each td for the row
    newresults = []
    $(`#result-row-${resultid} td`).each(function(){
      newresults.push($(this).html())
    })
    //pops the uneeded button,es, and sd <td> in the table row
    newresults.pop()
    newresults.pop()
    newresults.pop()
    
    data = {'charge':newresults[0], 
            'moa':newresults[1], 
            'velocity':[
                {'velocity':newresults[2]}, 
                {'velocity':newresults[3]}, 
                {'velocity':newresults[4]},
            ]
          }
    
    url = `/api/data-update/${resultid}/`
    fetch(url, {
		  method:'PUT',
				headers:{
					'Content-type':'application/json',
					'X-CSRFToken':csrftoken,
				},
        body:JSON.stringify(data)
			}).then(function(response){
				console.log('test update')
			}) 
    
  }

  //toggles the buttons when delete is pressed to hide delete/save and show cancel/confirm
  function deleteResult(){
    var resultid = $(this).data('resultid')
    
    var deleteBtn = $(`#delete-${resultid}`)
    var saveBtn = $(`#save-${resultid}`)
    var cancelBtn = $(`#cancel-${resultid}`)
    var confirmBtn = $(`#confirm-${resultid}`)

    //toggle button visibilty
    deleteBtn.addClass('hidden')
    saveBtn.addClass('hidden')

    cancelBtn.removeClass('hidden')
    confirmBtn.removeClass('hidden')
  }


  function cancelDeletion(){
    var resultid = $(this).data('resultid')
    
    var deleteBtn = $(`#delete-${resultid}`)
    var saveBtn = $(`#save-${resultid}`)
    var cancelBtn = $(`#cancel-${resultid}`)
    var confirmBtn = $(`#confirm-${resultid}`)

    //toggle button visibilty
    deleteBtn.removeClass('hidden')
    saveBtn.removeClass('hidden')

    cancelBtn.addClass('hidden')
    confirmBtn.addClass('hidden')
  }

  function confirmDeletion(){
    var resultid = $(this).data('resultid')
    var row = $(`#result-row-${resultid}`)
    row.remove()  
    
    var url = `/api/data-delete/${resultid}/`
    fetch(url, {
      method:'DELETE',
      headers:{
        'Content-type':'application/json',
        'X-CSRFToken':csrftoken,
      },
    }).then(function(response){
      console.log('test delete')
    })
  }

</script>
{% endblock scripts %}
